version: '3.8'
services:
  db:
    image: postgis/postgis:latest # Imagen oficial con PostGIS
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user_logistics
      POSTGRES_PASSWORD: pass_logistics
      POSTGRES_DB: logistics_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data: