basePath: /api
definitions:
  tracking_internal_domain.Order:
    properties:
      created_at:
        type: string
      customer_id:
        type: string
      customer_name:
        description: Agregá esto
        type: string
      dest_lat:
        type: number
      dest_lng:
        type: number
      destination_address:
        type: string
      driver_id:
        type: string
      driver_name:
        description: Agregá esto
        type: string
      id:
        type: string
      items:
        items:
          $ref: '#/definitions/tracking_internal_domain.OrderItem'
        type: array
      origin_lat:
        type: number
      origin_lng:
        type: number
      status:
        type: string
      total_price:
        type: number
    type: object
  tracking_internal_domain.OrderItem:
    properties:
      price_at_time:
        type: number
      product_id:
        type: string
      product_name:
        type: string
      quantity:
        type: integer
    type: object
  tracking_internal_domain.User:
    properties:
      created_at:
        type: string
      email:
        type: string
      full_name:
        type: string
      id:
        type: string
      role:
        type: string
    type: object
  tracking_internal_dto.CreateOrderRequest:
    properties:
      destination_address:
        type: string
      items:
        items:
          $ref: '#/definitions/tracking_internal_dto.OrderItemRequest'
        type: array
    required:
    - destination_address
    - items
    type: object
  tracking_internal_dto.LoginRequest:
    properties:
      email:
        type: string
      password:
        type: string
    required:
    - email
    - password
    type: object
  tracking_internal_dto.OrderItemRequest:
    properties:
      product_id:
        type: string
      quantity:
        type: integer
    required:
    - product_id
    - quantity
    type: object
  tracking_internal_dto.ProductResponse:
    properties:
      description:
        type: string
      id:
        type: string
      name:
        type: string
      price:
        type: number
    type: object
  tracking_internal_dto.RegisterRequest:
    properties:
      email:
        type: string
      full_name:
        description: Obligatorio
        type: string
      password:
        minLength: 6
        type: string
      role:
        enum:
        - driver
        - customer
        type: string
    required:
    - email
    - full_name
    - password
    - role
    type: object
  tracking_internal_dto.UpdateLocationRequest:
    properties:
      lat:
        type: number
      lng:
        type: number
    required:
    - lat
    - lng
    type: object
host: localhost:8080
info:
  contact: {}
  description: Servidor de tracking de pedidos en tiempo real.
  title: API de Logística Rafaela
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Devuelve un token JWT si las credenciales son válidas
      parameters:
      - description: Credenciales de usuario
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/tracking_internal_dto.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Iniciar sesión
      tags:
      - Auth
  /auth/register:
    post:
      consumes:
      - application/json
      description: Crea un usuario en la DB con email, password, nombre y rol
      parameters:
      - description: Datos del registro
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/tracking_internal_dto.RegisterRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/tracking_internal_domain.User'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Registrar un nuevo usuario
      tags:
      - auth
  /orders:
    post:
      consumes:
      - application/json
      description: Toma la dirección del cliente, busca las coordenadas y guarda el
        pedido
      parameters:
      - description: Datos del pedido
        in: body
        name: order
        required: true
        schema:
          $ref: '#/definitions/tracking_internal_dto.CreateOrderRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Crear un nuevo pedido
      tags:
      - Orders
  /orders/{id}/accept:
    patch:
      description: Cambia el estado del pedido a ASSIGNED
      parameters:
      - description: ID del pedido
        in: path
        name: id
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Aceptar un pedido (Driver)
      tags:
      - Orders
  /orders/{id}/complete:
    patch:
      description: Cambia el estado a 'DELIVERED' en Postgres y elimina la ubicación
        de Redis
      parameters:
      - description: ID del pedido
        in: path
        name: id
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Finalizar entrega (Driver)
      tags:
      - Orders
  /orders/{id}/location:
    get:
      description: Obtiene la última posición registrada en Redis del driver asignado
        a la orden
      parameters:
      - description: ID del pedido
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              format: float64
              type: number
            type: object
      security:
      - BearerAuth: []
      summary: Consultar ubicación de un pedido (Cliente)
      tags:
      - Orders
  /orders/history:
    get:
      description: Trae todos los pedidos DELIVERED del usuario
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/tracking_internal_domain.Order'
            type: array
      security:
      - BearerAuth: []
      summary: Ver historial de pedidos
      tags:
      - Orders
  /orders/location:
    post:
      consumes:
      - application/json
      description: Guarda la ubicación actual en Redis
      parameters:
      - description: Coordenadas
        in: body
        name: location
        required: true
        schema:
          $ref: '#/definitions/tracking_internal_dto.UpdateLocationRequest'
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Actualizar GPS (Driver)
      tags:
      - Orders
  /orders/pending:
    get:
      description: Obtiene todos los pedidos con estado 'PENDING' disponibles para
        ser aceptados
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/tracking_internal_domain.Order'
            type: array
      security:
      - BearerAuth: []
      summary: Listar pedidos pendientes
      tags:
      - Orders
  /products:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/tracking_internal_dto.ProductResponse'
            type: array
      summary: Obtener el menú de productos
      tags:
      - Products
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
